.return{
    height: 1rem;
    background-color: #fff;
    padding-left: 10%;
    line-height: 1rem;
    font-size: .36rem;
}
.return span {
    position: absolute;
    left: .6rem;
    top: .07rem;
    display: block;
}
.return span:before {
    content: "";
    width: .22rem;
    height: .22rem;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left: -.2rem;
    top: .3rem;
}
.comTop{
    background-color: #e73d4d;
    color: #fff;
}
.comTop span:before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.return .share{
    width: .45rem;
    height: .41rem;
    display: block;
    float: right;
    background: url("../images/ico/share.jpg") no-repeat;
    background-size: contain;
    margin-right: .3rem;
    margin-top: .3rem;
}
.goodsChange{
    background-color: #fff;
    margin-bottom: .3rem;
    margin-top: -1px;
}
.personalTop{
    background-color: #eee;
    text-align: center;
    color: #666;
}
.personalTop span:before {
    border-top: 2px solid #666;
    border-left: 2px solid #666;
}
/*商品详情页样式*/
.goodsChangeImg{
    border-bottom: 1px solid #dfdfdf;
}
.goodsChange .choose_tasks .swiper-container{
    margin-bottom: .1rem;
}
.goodsChangeImg .swiper-container .swiper-wrapper{
    margin-bottom: .3rem;
}
.goodsChangeImg .swiper-slide img{
    width: 50%;
    margin: 0 auto;
    display: block;
    min-width: 50%;
    max-width: 50%;
}

.goodsChangeImg .swiper-pagination-switch {
    background: #b2b2b2;
    opacity: 1;
    filter: alpha(opacity=100);
}
.goodsChangeImg .swiper-active-switch {
    background: #333;
}
.goodsChangeImg  .pagination{
    bottom: 0;
}
.goodsInfoC{
    margin-top: .3rem;
}
.pagination span:first-child{
    margin-left: 0;
}
/**/
.goodsInfo h3,.goodsInfo p{
    font-size: .36rem;
    padding: 0rem .3rem;
    height: .36rem;
    line-height: .36rem;
    margin-bottom: .2rem;
}
.goodsInfo p{
    color: #e73d4d;
    padding: 0 .3rem .3rem;
}
.goodsInfo p i{
    font-size: .24rem;
}
.selectedTag{
    height: .9rem;
    line-height: .9rem;
    margin-bottom: .3rem;
    padding: 0 .3rem;
    background-color: #fff;
    font-size: .28rem;
}
.selectedTag span{
    margin-right:.2rem;
}
.colo1{
    color: #666;
}
.selectedTag em{
    display: block;
    position: relative;
}
.selectedTag em:before {
    content: "";
    width: .2rem;
    height: .2rem;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    position: absolute;
    right: .2rem;
    top: -.55rem;
}
.comment{
    margin-bottom: .3rem;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
}
.goodsIntroduce{
    margin-bottom: 1.2rem;
}
.commentTitle{
    font-size: .28rem;
    color: #666;
    height: .72rem;
    line-height: .72rem;
    border-bottom: 1px solid #ccc;
    margin: 0 0 0 .3rem;
}
.commentList dl{
    padding: .3rem 0;
    margin: 0 0 0 .3rem;
    border-bottom: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
 }
.commentList dl dt{
    width:15%;
    float: left;
}
.commentList dl dt img{
    max-width: .7rem;
    max-height: .7rem;
}
.commentList dl dd{
    width: 85%;
    float: left;
}
.commentTime{
    height: .4rem;
    overflow: hidden;
}
.commentTime .score,.commentTime .time{
    float: left;
}
.commentTime .time{
    width: 2.5rem;
    font-size: .24rem;
    color: #999;
    float: right;
    margin-right: .2rem;
}
.commentC .userComment{
    padding-bottom: 10px;
}
.commentC p,.answer{
    font-size: .28rem;
    padding-right: .2rem;
}
.answer{
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: #666;
}
.answer a{
    color: #e73d4d;
}
.moreComment{
    font-size: .28rem;
    color: #666;
    text-align: center;
    height: .7rem;
    line-height: .7rem;
}
.moreComment em{
    width: .21rem;
    height: .23rem;
    background: url("../images/ico/rightArrow.png") no-repeat;
    background-size: contain;
    display: inline-block;
}
.goodsImg img{
    max-width: 100%;
}
.footer{
    height: .95rem;
    width: 100%;
    line-height: .95rem;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}
.buyBtn{
    width: 4.5rem;
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    color: #fff;
    background: #e73d4d;
    font-size: .28rem;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.25rem;
    margin-top: -.36rem;
}
.footer .home{
    width: .54rem;
    height: .48rem;
    background-image: url(../images/ico/fI.png);
    -webkit-background-size: .54rem 4rem;
    -moz-background-size: .54rem 4rem;
    -ms-background-size: .54rem 4rem;
    -o-background-size: .54rem 4rem;
    background-size: .54rem 4rem;
    overflow: hidden;
    margin-left: .3rem;
    display: block;
    margin-top: .25rem;
    background-position-y: -.5rem;
}
/*tagLayer*/
.tagLayerBox{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#tagHeader {
    position:fixed; z-index:2;
    top:80px; left:0;
    width:100%;
    height:45px;
    padding:0;
    background: #fff;
}
#tagFooter {
    position:fixed; z-index:2;
    bottom:0; left:0;
    width:100%;
    height: .96rem;
    padding:0;
}
#wrapper {
    position:fixed; z-index:1;
    top:125px; bottom:48px; left:0; right: 0;
    width:100%;
    overflow:auto;
    background: #fff;
}

#scroller {
    position:absolute; z-index:1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.closed{
    height: .42rem;
}
.closed .close{
    width: .42rem;
    height: .42rem;
    display: block;
    float: right;
    background: url("../images/ico/closed.png") no-repeat;
    background-size: contain;
    margin: .2rem .3rem 0 0;
}
.tagBoxC{
    padding-bottom: 1.5rem;
}
.tagBoxC dl{
    margin:0 .3rem;
    height: 100%;
    overflow: hidden;
}
.tagBoxC dl.colo{
    margin-top: .3rem;
}
.tagBoxC dt{
    font-size: .32rem;
    margin: 0  0 .3rem;
}
.tagBoxC dd ul{
    height: 100%;
    overflow: hidden;
}
.tagBoxC dd ul li{
    padding: 0 .3rem;
    height: .72rem;
    line-height: .72rem;
    float: left;
    border: 1px solid #ccc;
    font-size: .28rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
    cursor: pointer;
}
.tagBoxC dd ul li.selected{
    border: 1px solid #e73d4d;
    color: #e73d4d;
}
.tagBoxC dd ul li.disable{
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
.decrement,.increment{
    width: .6rem;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    font-size: .6rem;
    color: #fff;
    background-color: #ccc;
    display: inline-block;
    border: 1px solid #ccc;
    float: left;
}
.increment{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
}
#buy-num{
    width: 1.2rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .28rem;
    color: #999;
    border: 1px solid #ccc;
    float: left;
    margin: 0 .1rem;
}
.btnSure{
    width:100%;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    color: #fff;
    background-color: #e73d4d;
    font-size: .32rem;
    clear: both;

}
.returnTop{
    width: 1rem;
    height: 1rem;
    background:url("../images/ico/re-top.png") no-repeat;
    background-size: contain;
    border-radius: 100%;
    position: fixed;
    right: 10px;
    bottom: 1.1rem;
    display: none;
    opacity: .8;
}

/*home*/
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
/*main*/
.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 1.5rem;
}
.mainList{
    width: 100%;
}
.mainList li{
    width:49.7%;
    float: left;
    margin-right: 1px;
    background-color: #fff;
    padding: .2rem 0;
    min-height: 3.9rem;
    margin-bottom: 1px;
}
.mainList li dt{
    padding: .2rem 0;
}
.mainList li img{
    max-width: 2rem;
    max-height: 2rem;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}
.mainList li:nth-child(2n){
    margin-right: 0;
}
.mainList li dd h3{
    font-size: .32rem;
    text-align: center;
}
.mainList li dd p{
    font-size: .24rem;
    color: #999;
    text-align: center;
    line-height: .4rem;
}
.mainList li dd p.price{
    font-size: .32rem;
    color: #e73d4d;
    line-height: .6rem;
}
.mainList li dd p.price i{
    font-size: .24rem;
}
/*hFooter*/
.hFooter{
    width: 100%;
    height: .92rem;
    background-color: #fff;
    border-top: 1px solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: .2rem 0 0;
}
.fNav{
    float: left;
    width: 25%;
}
.fNav .foNav{
    width: .54rem;
    height: .48rem;
    background-image: url(../images/ico/fI.png);
    -webkit-background-size: .54rem 4rem;
    -moz-background-size: .54rem 4rem;
    -ms-background-size: .54rem 4rem;
    -o-background-size: .54rem 4rem;
    background-size: .54rem 4rem;
    overflow: hidden;
    margin: 0 auto;
}
.fNav .fh{
    background-position-y: 3.5rem;
}

.fNav .fc{
    background-position-y: 6.5rem;
}

.fNav .fCart{
    background-position-y: 9.5rem;
}
.fNav .fp{
    background-position-y: 12.5rem;
}
.fNav #fc div.on{
    background-position-y: 3rem;
}
.fNav #fp div.on{
    background-position-y: 1rem;
}
.fNav #fh div.on{
    background-position-y: 0;
}
.fNav p{
    font-size: .18rem;
    color: #999;
    text-align: center;
    line-height: .35rem;
}
/*banner*/
.choose_tasks .swiper-container {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: .2rem;
}
/*轮播*/
.swiper-container {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 15px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    opacity: 0.4;
    filter: alpha(opacity=40);
    margin: 0 0 0 8px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.swiper-slide {
    position: relative;
}
.swiper-slide img {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
.goodsChangeImg img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

/*return*/
.content{
    padding-bottom: 1.15rem;
}
.returnMain{
    width: 100%;
}
.progressItem{
    background-color: #fff;
    padding:3% 3%;
    margin-bottom: .2rem;
}
.progressMain{
    width: 100%;
    overflow: hidden;
}
.progressMain .pL{
    width: 73%;
    float: left;
    color: #666;
    font-size: .28rem;
}
.progressMain .pL p{
    line-height: .38rem;
}
.progressMain .pR{
    width: 27%;
    float: left;
    font-size: .28rem;
}
.progressMain .pR a{
    width: 96%;
    height: .63rem;
    line-height: .63rem;
    text-align: center;
    color: #e73d4d;
    border: 1px solid #e73d4d;
    border-radius: .15rem;
    display: block;
    margin: 0 auto;
}
.progressState{
    border-bottom: 1px solid #ccc;
    line-height: .38rem;
    padding-bottom: .2rem;
    overflow: hidden;
}
.progressState span{
    float: left;
    display: block;
}
.progressState span.stateT{
    width: 13%;
}
.progressState .stateC{
    width: 85%;
    color: #e73d4d;
}
.goodsInfo2{
    width:100%;
    overflow: hidden;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.goodsInfo2 .goL{
    width: 25%;
    width: 1.4rem;
    height: 1.4rem;
    float: left;
    border: 1px solid #ccc;
}
.goodsInfo2 .goL img{
    display: block;
    max-width: 1.4rem;
    max-height: 1.4rem;
    margin: 0 auto;
    vertical-align: middle;
}
.goodsInfo2 .goR{
    width: 75%;
    float: left;
    font-size: .24rem;
}
.goodsInfo2 .goR h3,.service h3,.processing h3{
    color: #000;
    font-weight: 600;
    padding-left: 5%;
    line-height: .38rem;
    padding-bottom: .1rem;
    font-size: .28rem;
}
.goodsInfo2 .goR .goRInfo{
    padding-left: 5%;
}
.service,.processing{
    font-size: .28rem;
    background-color: #fff;
    padding: 3% 3%;
    margin-bottom: .2rem;
}
.service h3,.processing h3{
    padding: 0;
}
.service p{
    color: #666;
    line-height: .40rem;
}
.sendBtn{
    display: block;
    width: 1.56rem;
    height: .48rem;
    text-align: center;
    line-height: .48rem;
    color: #fff;
    background-color: #e73d4d;
    border-radius: .1rem;
    margin-top: .15rem;
}
.processing a{
    color: #e73d4d;
}
.processing li{
    background: url("../images/ico/icop.png") no-repeat 0 .28rem;
    background-size: .32rem .3rem;
    padding-left: .4rem;
    padding-top: .28rem;
    color: #666;
}
.contactBtn{
    width: 1.44rem;
    height: .4rem;
    color: #e73d4d;
    border: 1px solid #e73d4d;
    border-radius: .1rem;
    text-align: center;
    line-height: .4rem;
    display: inline-block;
    float: right;
}
.serviceType,.applyNum{
    overflow: hidden;
    font-size: .28rem;
    color: #666;
    background-color: #fff;
    margin-bottom: .2rem;
    padding: 3% 3%;
}
.serviceType ul{
    overflow: hidden;
    margin: .2rem 0;
}
.serviceType ul li{
    width: 25%;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
    margin-right: 5%;
}
.serviceType ul li.on{
    border: 1px solid #e73d4d;
    color: #e73d4d;
}

.applyNum .dt{
    width: 30%;
    float: left;
    height: .6rem;
    line-height: .6rem;
}
.applyNum .dd{
    width: 70%;
    float: left;
}
.quantity-form{
    float: right;
}
.decrement,.increment{
    width: .6rem;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    font-size: .6rem;
    color: #fff;
    background-color: #ccc;
    display: inline-block;
    border: 1px solid #ccc;
    float: left;
}
.increment{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
}
#buy-num{
    width: 1.2rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .28rem;
    color: #999;
    border: 1px solid #ccc;
    float: left;
    margin: 0 .1rem;
}
.textArea{
    width: 100%;
    margin: .2rem 0;
}
.textArea textarea{
    width: 99%;
    border: 1px solid #ccc;
    resize: none;
    padding-left: 1%;
    min-height: 1.72rem;
    max-height: 2rem;
    color: #000;
}
.next .nextBtn{
    width: 3.6rem;
    height: .96rem;
    text-align: center;
    line-height: .96rem;
    color: #fff;
    background-color: #e73d4d;
    display: block;
    margin: 0 auto;
    font-size: .36rem;
    margin-top: .5rem;
}
.ems{
    color: #e73d4d;
    font-size: .28rem;
    border: 1px solid #e73d4d;
    width: 3.36rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    margin: .15rem 0;
}
.emsInfo{
    font-size: .24rem;
    color: #666;
    line-height: .36rem;
}
.customer{
    background-color: #fff;
    padding: 3% 3%;
    margin-bottom: .2rem;
}
.customer p{
    font-size: .28rem;
    color: #666;
    padding-left: .1rem;
}
.customerInfo{
    margin: .15rem;
}
.customerInfo li{
    overflow: hidden;
    width: 100%;
    margin-bottom: .2rem;
}
.customerInfo li label{
    width: 25%;
    font-size: .28rem;
    color: #666;
    height: .6rem;
    line-height: .6rem;
    float: left;
}
.customerInfo li input{
    width: 60%;
    height: .6rem;
    line-height: .6rem;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    border: 1px solid #ccc;
}
.customerInfo li textarea{
    width: 70%;
    height: 1rem;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    border: 1px solid #ccc;
    resize: none;
}
/*order*/
.listInfo{
    padding: 5%;
    background-color: #fff;
    margin-bottom: .3rem;
}
.listInfo table{
    font-size: .28rem;
    color: #666;
}
.listInfo table b{
    color: #000;
}
.listInfo table tr{
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.listInfo table td{
    line-height: .42rem;
}
.listInfo table td:nth-child(1){
    width:25%;
    text-align: right;
    padding-right: 5%;
}
.listInfo table td:nth-child(2){
    width: 70%;
}
.gdList{
    background-color: #fff;
}
.gdList .listTitle{
    font-size: .28rem;
    color: #999;
    height: .6rem;
    line-height: .6rem;
    border-bottom: 1px solid  #dfdfdf;
    padding:2% 5%;
}
.gdListInfo{
    padding: 2% 5%;
}
.gdListInfo tr td{
    float: left;
    font-size: .28rem;
    padding: 2% 0 .3rem;
}
.gdListInfo tr td:nth-child(1){
    width: 20%;
}
.gdListInfo tr td:nth-child(2){
    padding:2% 2% .3rem 4%;
    width: 54%;
}
.gdListInfo tr td:nth-child(3){
    width: 20%;
}
.gdListInfo tr td:nth-child(3) a{
    display: block;
    width: 98%;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 2rem;
    border-radius: .2rem;
}
.gdListInfo tr td:nth-child(1) img{
    width: 96%;
    border: 1px solid #ccc;
    padding: 2%;
}
.gdListInfo h3 a{
    color: #000;
}
.payOrder{
    background-color: #fff;
}
.payOrder span{
    width: 44%;
    font-size: .32rem;
    color: #e73d4d;
    display: block;
    float: left;
    background-color: #fff;
    text-align: left;
    padding-left: 4%;
}
.payOrder a{
    font-size: .32rem;
    width: 27%;
    display: block;
    float: right;
    background-color: #e73d4d;
}
.payOrder a.cancel{
    background-color: #fff;
    color: #999;
}
.wuLiu a{
    background-color: #fff;
    color: #999;
    border: 1px solid #ccc;
    height: .6rem;
    line-height: .6rem;
    margin-top: .2rem;
    margin-right: .1rem;
    -webkit-border-radius: 2rem;
    border-radius: .2rem;
}
/*ordercenter*/
.contentOrderC{
    bottom: 0;
}
.orderStateBox{
    background-color: #fff;
    margin-bottom: .3rem;
}
.orderState{
    padding: 2% 4%;
    overflow: hidden;
}
.orderState .orderStateL{
    font-size: .28rem;
    color: #666;
    float: left;
    line-height: .32rem;
    padding: 4% 0;
}
.orderState .orderStateR{
    font-size: .30rem;
    color: #e73d4d;
    float: right;
    line-height: .6rem;
}
.orderList{
    border: 1px solid #dfdfdf;
    border-left: 0;
    border-right: 0;
}
.orderBtnGroup{
    height: .64rem;
    overflow: hidden;
    padding:4%;
}
.orderBtnGroup a{
    display: block;
    float: right;
    width: 1.58rem;
    height: .64rem;
    line-height: .64rem;
    text-align: center;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 2rem;
    border-radius: .2rem;
    margin-left: .3rem;
    font-size: .28rem;
}
.orderBtnGroup a.payBtn{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
    color: #fff;
}
/*pay*/
.pay{
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.36rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #e73d4d;
    border-top: 1px solid #dfdfdf;
    z-index: 9999;
}
.pay a{
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .36rem;
    display: block;
    color: #fff;
}
.pay a:nth-child(1){
    background-color: #fff;
    color: #e73d4d;
}
.goodsList{
    display: flex;
    justify-content: space-between;
    font-size: .24rem;
    margin: .3rem 0 0;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.goodsInfo{
    background-color: #fff;
    padding: .5rem .3rem;
}
.goodsInfo ul{
    font-size: .28rem;
    color: #666;
}
.addressBo,.card,.goodsList{
    background-color: #fff;
    margin: 0 auto;
    padding: 5%;
    margin-bottom: .3rem;
}
.addressBo ul{
    display: flex;
    justify-content:space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    font-size: .24rem;
}
.addressBo ul li{
    position: relative;
    font-size: .28rem;
    color: #666;
}
.addressBo ul li:nth-child(1){
    width: 70%;
    float: left;
}
.addressBo ul li:nth-child(2){
    width: 30%;
    float: left;
}
.sendBy ul li:nth-child(1){
    width: 30%;
    float: left;
}
.sendBy ul li:nth-child(2){
    width: 60%;
    text-align: right;
    padding-right: 10%;
    float: left;
}
.addressBo p{
    line-height: .48rem;
}
.addressBo ul li span{
    display: block;
}
.addAdd i:nth-child(1){
    width: .34rem;
    height: .34rem;
    line-height: .34rem;
    border: 1px solid #666;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
    margin-right: .1rem;
    font-size: .28rem;
}
.addressBo ul li b{
    font-size: .32rem;
    color: #000;
}
.addressBo ul li span:before{
    content: "";
    width: 0.24rem;
    height: 0.24rem;
    border-bottom:2px solid #ccc;
    border-right:2px solid #ccc;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right:0.2rem;
    top: 50%;
    margin-top: -0.12rem;
}
.noMar{
    margin: 0;
}
.card{
    margin-bottom: 0;
}
.card span{
    font-size: .28rem;
    display: block;
    width: 1.78rem;
    height: .78rem;
    line-height: .78rem;
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    margin-right: .1rem;
}
.card .cardBox{
    margin: .2rem 0;
}
.card .cardBox p.carT{
    display: flex;
    justify-content:space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
h3{
    font-size: .28rem;
    color: #666;
}
.card .cardBox span.selected{
    border: 1px solid #e73d4d;
    color: #e73d4d;
}
.carExtr{
    height: .6rem;
    display: none;
}
.carExtr input{
    width: 94%;
    height: .6rem;
    line-height: .6rem;
    padding-left: 5%;
    border: 1px solid #ccc;
    vertical-align: top;
    margin-top: .2rem;
}
.carExtr input:focus{
    border: 1px solid #e73d4d;
}
.borBtoom{
    border-bottom: 1px solid #eee;
}
.Discount{
    display: block;
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.Discount input{
    width: 60%;
}
.Discount .button{
    width: 1.5rem;
    height: .64rem;
    line-height: .64rem;
    border: 1px solid #ccc;
    margin-top: .2rem;
    text-align: center;
    background-color: #fff;
    padding: 0;
    color: #666;
}
.goodsList{
    display: flex;
    justify-content: space-between;
    font-size: .24rem;
    margin: .3rem 0 0;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.goodsList h3{
    font-size: .24rem;
}
.goodsList img{
    width:100%;
    height: .7rem;
    display: block;
}
.goodsList div:nth-child(1){
    width: 15%;
}
.goodsList div:nth-child(2){
    width: 70%;
}
.goodsList div:nth-child(3){
    width: 15%;
}
.colorOr{
    color: #e73d4d;
}
.goodsInfo ul{
    font-size: .28rem;
    color: #666;
}
/*modifyAd*/
.modifyAd{
    margin: .3rem 0 .3rem;
    background-color: #fff;
}
.modifyAd li{
    height: .8rem;
    line-height: .8rem;
    border-bottom: 1px solid #ccc;
    padding: .2rem;
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.modifyAd li label{
    font-size: .28rem;
    color: #999;
    width: 20%;
}
.modifyAd li input{
    font-size: .28rem;
    color: #000;
    width:77%;
    padding-left: 3%;
    border: none;
}
.del a:nth-child(1){
    color: #999;
}
.saveAdd a:nth-child(1){
    width: 100%;
    background-color: #e73d4d;
    color: #fff;
}
.manageAd{
    background-color: #fff;
}
.manageAd li{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    border-bottom: 1px solid #eee;
    position: relative;
}
.manageAd .befTar{
    width: 10%;
    text-align: center;
    position: relative;
}
.manageAd .befTar span{
    width: .46rem;
    height: .46rem;
    line-height: .46rem;
    text-align: center;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: .36rem;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.23rem;
    margin-left: -.23rem;
}
.manageAd .selected span{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
}
.manageAd .addBox{
    width: 70%;
    font-size: .28rem;
}
.manageAd .addBox p{
    color: #666;
    line-height: .38rem;
}
.manageAd .addTarget{
    width: 15%;
}
.addTarget a{
    display: block;
    width: 100%;
    height: 1rem;
}
.addTarget span,.manageAd .befTar span{
    display: block;
}
.addTarget span:before {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 0.4rem;
    top: 50%;
    margin-top: -0.125rem;
}
.manageAd .befTar span:before {
    content: "";
    width: 0.22rem;
    height: 0.12rem;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    position: absolute;
    left: 0.08rem;
    top: 50%;
    margin-top: -0.15rem;
    transform:rotate(125deg);
    -webkit-transform: rotate(125deg);
}
/*三级联动菜单*/
.cityBox{
    font-size: .28rem;
    color: #000;
    width: 77%;
    padding-left: 3%;
    border: none;
}
.diZhi{
    height: .5rem;
    line-height: .5rem;
    padding-left: .2rem;
    font-size: .28rem;
}
.lineDiZhi{
    display: block;
    height: .3rem;
    width: .1rem;
    background-color: #e73d4d;
    float: left;
}
.titleSpan{
    float: left;
    height: .3rem;
    line-height: .3rem;
    display: block;
    padding-left: .2rem;
}
/*pay*/
.pay{
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.36rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #e73d4d;
    border-top: 1px solid #dfdfdf;
    z-index: 9999;
}
.pay a{
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .36rem;
    display: block;
    color: #fff;
}
.pay a:nth-child(1){
    background-color: #fff;
    color: #e73d4d;
}
/*payBy*/
.payTop{
    margin: .3rem .3rem;
}
.payTop p{
    font-size: .32rem;
    margin-bottom: .2rem;
}
.payTop ul{
    overflow: hidden;
}
.payTop ul li{
    width: 2.7rem;
    height: .86rem;
    border: 1px solid #ccc;
    float: left;
    margin-right: .25rem;
    margin-bottom: .25rem;
    background: #fff;
}
.payTop ul li:nth-child(2n){
    margin-right: 0;
}
/*personalCenter*/
.perLogin{
    width: 100%;
    height: 2.8rem;
    background-color: #e73d4d;
}
.perLoginM img{
    border-radius: 100%;
    vertical-align: middle;
    margin-right: .3rem;
}
.perLoginM{
 padding-left: .6rem;
    margin: 0 auto;
}
.perLoginM span{
    color: #fff;
    font-size: .32rem;
    height: 2.8rem;
    line-height: 2.8rem;
}
.orderInfo{
    background-color: #fff;
    overflow: hidden;
    padding: .4rem .2rem;
    margin-bottom: .2rem;
}
.orderInfo .orderItem{
    width: 30%;
    float: left;
    text-align: center;
    font-size: .28rem;
    color: #333;
}
.orderInfo .orderItem a{
    display: block;
}
.orderInfo .orderItem em{
    width: .41rem;
    height: .47rem;
    display: block;
    background: url("../images/ico/perico.png") no-repeat;
    background-position: 0 0;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: .15rem;
}
.orderInfo .orderItem em.totalOrder{
    background-position: 0 0;
    background-size: cover;
}
.orderInfo .orderItem em.paying{
    width: .46rem;
    background-position: -.49rem 0;
    background-size: cover;
}
.orderInfo .orderItem em.awaiting{
    width: .41rem;
    background-position: -.96rem 0;
    background-size: cover;
}
.fnList{
    background-color: #fff;
    overflow: hidden;
    margin-bottom: .2rem;
}
.fnList ul li{
    height: .94rem;
    line-height: .94rem;
    position: relative;
    margin-left: .3rem;
    font-size: .32rem;
    color: #333;
    border-bottom: 1px solid #dfdfdf;
}
.fnDirection:before{
    content: "";
    width: .24rem;
    height: .24rem;
    border-bottom:1px solid #666;
    border-right:1px solid #666;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right:.3rem;
    top: 50%;
    margin-top: -0.12rem;
}
.fnList ul li:last-child{
    border-bottom: 0;
}
/*classifyMain*/
.classifyMain{
    background-color: #fff;
    padding: .3rem;
    overflow: hidden;
}
.classifyCon{
    margin-bottom: .3rem;
}
.classifyCon .clTitle{
    font-size: .32rem;
}
.classifyCon ul{
    overflow: hidden;
}
.classifyCon li{
    width: 22%;
    float: left;
    text-align: center;
    margin-right: 4%;
    margin-top: .15rem;
}
.classifyCon li:nth-child(4n){
    margin-right: 0;
}
.classifyCon li img{
    max-width: 1.3rem;
    max-height: 1.5rem;
    margin: 0 auto;
    vertical-align: middle;
}
.classifyCon li p{
    color: #666;
    font-size: .22rem;
    text-align: center;
}
/*assessList*/
.assessList{
    background-color: #fff;
    margin-bottom: .2rem;
}
.assessList li{
    height: 100%;
    overflow: hidden;
    padding:.3rem .2rem;
    border-bottom: 1px solid #dfdfdf;
}
.assessList li .dt{
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #ccc;
    text-align: center;
    float: left;
}
.assessList li .dt img{
    display: block;
    max-width: 1.4rem;
    max-height: 1.4rem;
    margin: 0 auto;
    vertical-align: middle;
}
.assessList li .dd{
    width: 70%;
    float: left;
    margin-left: 5%;
}
.assessList li .dd p.ddTitle{
    font-size: .28rem;
    color: #000;
    line-height: .38rem;
    font-weight: 600;
}
.ckBtn{
    width: 1.28rem;
    height: .48rem;
    line-height: .48rem;
    text-align: center;
    font-size: .24rem;
    color: #999;
    display: block;
    border: 1px solid #dfdfdf;
    border-radius: .1rem;
}
.ddBot{
    margin-top: .2rem;
    font-size: .28rem;
}
.scoreAssess{
    height: 100%;
    overflow: hidden;
    margin-bottom: .2rem;
    background-color: #fff;
    padding:.3rem .2rem;
}
.scoreAssessList li{
    padding-bottom: .1rem;
    overflow: hidden;
}
.scoreAssessList li .dt,.scoreAssessList li .dd{
    width: 40%;
    float: left;
    height: .5rem;
    line-height: .5rem;
    font-size: .32rem;
}
.scoreAssessList li .dd{
    width: 60%;
}
.scoreAssessList li .dd span{
    width: .46rem;
    height: .46rem;
    display: block;
    float: left;
    background: url("../images/ico/star.png") no-repeat;
    background-size: .9rem .46rem;
    margin-right: .1rem;
    background-position: -.465rem 0;
}
.scoreAssessList li .dd span.on{
    background-position: 0 0;
}
.awake p,.showImg p{
    font-size: .32rem;
    height: .48rem;
    line-height: .48rem;
    margin-bottom: .1rem;
}
.textArea p{
    text-align: right;
    font-size: .24rem;
    color: #999;
}
.imgUpload{
    overflow: hidden;
}
.showImg p.imgInfo1{
    font-size: .28rem;
    color: #999;
    overflow: hidden;
}
.anonymity{
    overflow: hidden;
    background-color: #fff;
    padding: .3rem 0;
}
.checkChange {
    width:.32rem;
    height: .32rem;
    display: inline-block;
    background: url("../images/ico/checked.png") no-repeat;
    background-position: -.33rem 0;
    background-size: .62rem .3rem;
    float: left;
    cursor: pointer;
    margin-left: -17px;
}
.checked {
    background-position: 0 0;
}
.loginExtra input {
    width:32px;
    height: 32px;
    display: inline-block;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    float: left;
    position: relative;
    z-index: -9999;
}
.loginExtra label {
    float: left;
    font-size: .32rem;
    height: .32rem;
    line-height: .32rem;
    margin-left: .1rem;
}
.awakeContent{
    font-size: .32rem;
    color: #000;
    line-height: .46rem;
}
.showImgList{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.showImgList li{
    float: left;
    width: 1.44rem;
    height: 1.44rem;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: .2rem;
}
.showImgList li img{
    max-height: 1.44rem;
    max-width: 1.44rem;
    vertical-align: middle;
    display: block;
}
/*第三版index*/
.logo{
    width: 100%;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    background-color: #fff;
    margin-bottom: .2rem;
}
.logo img{
    width: 2.6rem;
    height: .96rem;
    vertical-align: middle;
}
.choose_tasks{
    width: 96%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: .1rem;
}
.choose_tasks .wap2{
    width: 96%;
    border-radius: .1rem;
}
.wap2 .swiper-slide img{
    width: 99.7%;
}
.wap2 .pagination{
    bottom: 5px;
}
.main{
    width: 96%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    margin-bottom: .2rem;
}
.oList li{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: .2rem;
    background-color: #fff;
    border-radius: .1rem;
    position: relative;
}
.oImg{
    width: 100%;
    text-align: center;
}
.oImg span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.oList li img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.oInfo{
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    position: absolute;
    width: 90%;
    padding: 0 5%;
    left: 0;
    bottom: 1.175rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(119, 119, 119, .1) 90%, rgba(173,173,173,0) 100%);
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: .32rem;
}
.oInfo em{
    width: .34rem;
    height: .31rem;
    display: inline-block;
    background:url("../images/ico/dot.png") no-repeat;
    background-size: contain;
    margin-right: .1rem;
}
.oPriceBox{
    height: 1.18rem;
}
.oPriceBox .oPBL{
    height: 1.18rem;
    float: left;
    padding-left: .2rem;
    width: 75%;
}
.oPriceBox .oPBL p{
    font-size: .32rem;
    color: #e73d4d;
    height: .38rem;
    line-height: .38rem;
    margin: .1rem 0;
}
.oPriceBox .oPBL p i{
    font-size: .24rem;
}
.oPriceBox .oPBL h3{
    font-size: .32rem;
    color: #333;
    height: .4rem;
    line-height: .4rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.oPriceBox .oPBR{
    width: 1.18rem;
    height: 1.18rem;
    float: right;
    line-height: 1.18rem;
    text-align: center;
}
.oPriceBox .oPBR a{
    display: block;
    background-color: #e73d4d;
    color: #fff;
    font-size: .32rem;
}

























/*第三版index end*/