.return{
    height: .9rem;
    background-color: #fff;
    padding-left: 10%;
    line-height: .9rem;
    font-size: .32rem;
}
.return span {
    position: absolute;
    left: 0.6rem;
    top: 0.01rem;
    display: block;
}
.return span:before {
    content: "";
    width: 0.22rem;
    height: 0.22rem;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left: -0.2rem;
    top: 0.3rem;
}
.comTop{
    background-color: #e73d4d;
    color: #fff;
}
.comTop span:before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.return .share{
    width: .45rem;
    height: .41rem;
    display: block;
    float: right;
    background: url("../images/ico/share.jpg") no-repeat;
    background-size: contain;
    margin-right: .3rem;
    margin-top: .3rem;
}
.goodsChange{
    background-color: #fff;
    margin-bottom: .3rem;
    margin-top: -1px;
}
/*商品详情页样式*/
.goodsChangeImg{
    border-bottom: 1px solid #dfdfdf;
}
.goodsChange .choose_tasks .swiper-container{
    margin-bottom: .1rem;
}
.goodsChangeImg .swiper-container .swiper-wrapper{
    margin-bottom: .3rem;
}
.goodsChangeImg .swiper-slide img{
    width: 50%;
    margin: 0 auto;
    display: block;
    min-width: 50%;
    max-width: 50%;
}

.goodsChangeImg .swiper-pagination-switch {
    background: #b2b2b2;
    opacity: 1;
    filter: alpha(opacity=100);
}
.goodsChangeImg .swiper-active-switch {
    background: #333;
}
.goodsChangeImg  .pagination{
    bottom: 0;
}
.goodsInfoC{
    margin-top: .3rem;
}
.pagination span:first-child{
    margin-left: 0;
}
/**/
.goodsInfo h3,.goodsInfo p{
    font-size: .36rem;
    padding: 0rem .3rem;
    height: .36rem;
    line-height: .36rem;
    margin-bottom: .2rem;
}
.goodsInfo p{
    color: #e73d4d;
    padding: 0 .3rem .3rem;
}
.goodsInfo p i{
    font-size: .24rem;
}
.selectedTag{
    height: .9rem;
    line-height: .9rem;
    margin-bottom: .3rem;
    padding: 0 .3rem;
    background-color: #fff;
    font-size: .28rem;
}
.selectedTag span{
    margin-right:.2rem;
}
.colo1{
    color: #666;
}
.selectedTag em{
    display: block;
    position: relative;
}
.selectedTag em:before {
    content: "";
    width: 0.2rem;
    height: 0.2rem;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    position: absolute;
    right: .2rem;
    top: -0.55rem;
}
.comment{
    margin-bottom: .3rem;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
}
.goodsIntroduce{
    margin-bottom: 1.2rem;
}
.commentTitle{
    font-size: .28rem;
    color: #666;
    height: .72rem;
    line-height: .72rem;
    border-bottom: 1px solid #ccc;
    margin: 0 0 0 .3rem;
}
.commentList dl{
    padding: .3rem 0;
    margin: 0 0 0 .3rem;
    border-bottom: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
 }
.commentList dl dt{
    width:15%;
    float: left;
}
.commentList dl dt img{
    max-width: .7rem;
    max-height: .7rem;
}
.commentList dl dd{
    width: 85%;
    float: left;
}
.commentTime{
    height: .4rem;
    overflow: hidden;
}
.commentTime .score,.commentTime .time{
    float: left;
}
.commentTime .time{
    width: 2.5rem;
    font-size: .24rem;
    color: #999;
    float: right;
    margin-right: .2rem;
}
.commentC .userComment{
    padding-bottom: 10px;
}
.commentC p,.answer{
    font-size: .28rem;
    padding-right: .2rem;
}
.answer{
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: #666;
}
.answer a{
    color: #e73d4d;
}
.moreComment{
    font-size: .28rem;
    color: #666;
    text-align: center;
    height: .7rem;
    line-height: .7rem;
}
.moreComment em{
    width: .21rem;
    height: .23rem;
    background: url("../images/ico/rightArrow.png") no-repeat;
    background-size: contain;
    display: inline-block;
}
.goodsImg img{
    max-width: 100%;
}
.footer{
    height: .95rem;
    width: 100%;
    line-height: .95rem;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}
.buyBtn{
    width: 4.5rem;
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    color: #fff;
    background: #e73d4d;
    font-size: .28rem;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.25rem;
    margin-top: -.36rem;
}
.footer .home{
    width: .54rem;
    height: .48rem;
    background-image: url(../images/ico/fI.png);
    -webkit-background-size: .54rem 4rem;
    -moz-background-size: .54rem 4rem;
    -ms-background-size: .54rem 4rem;
    -o-background-size: .54rem 4rem;
    background-size: .54rem 4rem;
    overflow: hidden;
    margin-left: .3rem;
    display: block;
    margin-top: .25rem;
    background-position-y: -.5rem;
}
/*tagLayer*/
.tagLayerBox{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#tagHeader {
    position:fixed; z-index:2;
    top:80px; left:0;
    width:100%;
    height:45px;
    padding:0;
    background: #fff;
}
#tagFooter {
    position:fixed; z-index:2;
    bottom:0; left:0;
    width:100%;
    height: .96rem;
    padding:0;
}
#wrapper {
    position:fixed; z-index:1;
    top:125px; bottom:48px; left:0; right: 0;
    width:100%;
    overflow:auto;
    background: #fff;
}

#scroller {
    position:absolute; z-index:1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.closed{
    height: .42rem;
}
.closed .close{
    width: .42rem;
    height: .42rem;
    display: block;
    float: right;
    background: url("../images/ico/closed.png") no-repeat;
    background-size: contain;
    margin: .2rem .3rem 0 0;
}
.tagBoxC{
    padding-bottom: 1.5rem;
}
.tagBoxC dl{
    margin:0 .3rem;
    height: 100%;
    overflow: hidden;
}
.tagBoxC dl.colo{
    margin-top: .3rem;
}
.tagBoxC dt{
    font-size: .32rem;
    margin: 0  0 .3rem;
}
.tagBoxC dd ul{
    height: 100%;
    overflow: hidden;
}
.tagBoxC dd ul li{
    padding: 0 .3rem;
    height: .72rem;
    line-height: .72rem;
    float: left;
    border: 1px solid #ccc;
    font-size: .28rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
    cursor: pointer;
}
.tagBoxC dd ul li.selected{
    border: 1px solid #e73d4d;
    color: #e73d4d;
}
.tagBoxC dd ul li.disable{
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
.decrement,.increment{
    width: .6rem;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    font-size: .6rem;
    color: #fff;
    background-color: #ccc;
    display: inline-block;
    border: 1px solid #ccc;
    float: left;
}
.increment{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
}
#buy-num{
    width: 1.2rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .28rem;
    color: #999;
    border: 1px solid #ccc;
    float: left;
    margin: 0 .1rem;
}
.btnSure{
    width:100%;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    color: #fff;
    background-color: #e73d4d;
    font-size: .32rem;
    clear: both;

}
.returnTop{
    width: 1rem;
    height: 1rem;
    background:url("../images/ico/re-top.png") no-repeat;
    background-size: contain;
    border-radius: 100%;
    position: fixed;
    right: 10px;
    bottom: 1.1rem;
    display: none;
    opacity: .8;
}

/*home*/
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
/*main*/
.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 1.5rem;
}
.mainList{
    width: 100%;
}
.mainList li{
    width:49.7%;
    float: left;
    margin-right: 1px;
    background-color: #fff;
    padding: .2rem 0;
    min-height: 3.9rem;
    margin-bottom: 1px;
}
.mainList li dt{
    padding: .2rem 0;
}
.mainList li img{
    max-width: 2rem;
    max-height: 2rem;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}
.mainList li:nth-child(2n){
    margin-right: 0;
}
.mainList li dd h3{
    font-size: .32rem;
    text-align: center;
}
.mainList li dd p{
    font-size: .24rem;
    color: #999;
    text-align: center;
    line-height: .4rem;
}
.mainList li dd p.price{
    font-size: .32rem;
    color: #e73d4d;
    line-height: .6rem;
}
.mainList li dd p.price i{
    font-size: .24rem;
}
/*hFooter*/
.hFooter{
    width: 100%;
    height: .92rem;
    background-color: #fff;
    border-top: 1px solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: .2rem 0 0;
}
.fNav{
    float: left;
    width: 25%;
}
.fNav .foNav{
    width: .54rem;
    height: .48rem;
    background-image: url(../images/ico/fI.png);
    -webkit-background-size: .54rem 4rem;
    -moz-background-size: .54rem 4rem;
    -ms-background-size: .54rem 4rem;
    -o-background-size: .54rem 4rem;
    background-size: .54rem 4rem;
    overflow: hidden;
    margin: 0 auto;
}
.fNav .fh{
    background-position-y: 0rem;
}

.fNav .fc{
    background-position-y: 6.5rem;
}
.fNav .fCart{
    background-position-y: 9.5rem;
}
.fNav .fp{
    background-position-y: 12.5rem;
}

.fNav p{
    font-size: .18rem;
    color: #999;
    text-align: center;
    line-height: .35rem;
}
/*banner*/
.choose_tasks .swiper-container {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: .2rem;
}
/*轮播*/
.swiper-container {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 15px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    opacity: 0.4;
    filter: alpha(opacity=40);
    margin: 0 0 0 8px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.swiper-slide {
    position: relative;
}
.swiper-slide img {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
.goodsChangeImg img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

/*return*/
/*return*/
.returnMain{
    width: 100%;
}
.progressItem{
    background-color: #fff;
    padding:3% 3%;
    margin-bottom: .2rem;
}
.progressMain{
    width: 100%;
    overflow: hidden;
}
.progressMain .pL{
    width: 73%;
    float: left;
    color: #666;
    font-size: .28rem;
}
.progressMain .pL p{
    line-height: .38rem;
}
.progressMain .pR{
    width: 27%;
    float: left;
    font-size: .28rem;
}
.progressMain .pR a{
    width: 96%;
    height: .63rem;
    line-height: .63rem;
    text-align: center;
    color: #e73d4d;
    border: 1px solid #e73d4d;
    border-radius: .15rem;
    display: block;
    margin: 0 auto;
}
.progressState{
    border-bottom: 1px solid #ccc;
    line-height: .38rem;
    padding-bottom: .2rem;
    overflow: hidden;
}
.progressState span{
    float: left;
    display: block;
}
.progressState span.stateT{
    width: 13%;
}
.progressState .stateC{
    width: 85%;
    color: #e73d4d;
}
.goodsInfo2{
    width:100%;
    overflow: hidden;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.goodsInfo2 .goL{
    width: 25%;
    width: 1.4rem;
    height: 1.4rem;
    float: left;
}
.goodsInfo2 .goR{
    width: 70%;
    float: left;
    font-size: .24rem;
}
.goL .goLImg{
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #ccc;
}
.goL .goLImg img{
    max-height: 100%;
    max-width: 1.4rem;
    max-height: 1.4rem;
}
.goodsInfo2 .goR h3,.service h3,.processing h3{
    color: #000;
    font-weight: 600;
    padding-left: 5%;
    line-height: .38rem;
    padding-bottom: .1rem;
    font-size: .28rem;
}
.goodsInfo2 .goR .goRInfo{
    padding-left: 5%;
}
.service,.processing{
    font-size: .28rem;
    background-color: #fff;
    padding: 3% 3%;
    margin-bottom: .2rem;
}
.service h3,.processing h3{
    padding: 0;
}
.service p{
    color: #666;
    line-height: .40rem;
}
.sendBtn{
    display: block;
    width: 1.56rem;
    height: .48rem;
    text-align: center;
    line-height: .48rem;
    color: #fff;
    background-color: #e73d4d;
    border-radius: .1rem;
    margin-top: .15rem;
}
.processing a{
    color: #e73d4d;
}
.processing li{
    background: url("../images/ico/icop.png") no-repeat 0 .28rem;
    background-size: .32rem .3rem;
    padding-left: .4rem;
    padding-top: .28rem;
    color: #666;
}
.contactBtn{
    width: 1.44rem;
    height: .4rem;
    color: #e73d4d;
    border: 1px solid #e73d4d;
    border-radius: .1rem;
    text-align: center;
    line-height: .4rem;
    display: inline-block;
    float: right;
}
.serviceType,.applyNum{
    overflow: hidden;
    font-size: .28rem;
    color: #666;
    background-color: #fff;
    margin-bottom: .2rem;
    padding: 3% 3%;
}
.serviceType ul{
    overflow: hidden;
    margin: .2rem 0;
}
.serviceType ul li{
    width: 25%;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
    margin-right: 5%;
}
.serviceType ul li.on{
    border: 1px solid #e73d4d;
    color: #e73d4d;
}

.applyNum .dt{
    width: 30%;
    float: left;
    height: .6rem;
    line-height: .6rem;
}
.applyNum .dd{
    width: 70%;
    float: left;
}
.quantity-form{
    float: right;
}
.decrement,.increment{
    width: .6rem;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    font-size: .6rem;
    color: #fff;
    background-color: #ccc;
    display: inline-block;
    border: 1px solid #ccc;
    float: left;
}
.increment{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
}
#buy-num{
    width: 1.2rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .28rem;
    color: #999;
    border: 1px solid #ccc;
    float: left;
    margin: 0 .1rem;
}
.textArea{
    width: 100%;
    margin: .2rem 0;
}
.textArea textarea{
    width: 99%;
    border: 1px solid #ccc;
    resize: none;
    padding-left: 1%;
    min-height: 1.72rem;
    max-height: 2rem;
    color: #000;
}
.next .nextBtn{
    width: 3.6rem;
    height: .96rem;
    text-align: center;
    line-height: .96rem;
    color: #fff;
    background-color: #e73d4d;
    display: block;
    margin: 0 auto;
    font-size: .36rem;
    margin-top: .5rem;
}
.ems{
    color: #e73d4d;
    font-size: .28rem;
    border: 1px solid #e73d4d;
    width: 3.36rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    margin: .15rem 0;
}
.emsInfo{
    font-size: .24rem;
    color: #666;
    line-height: .36rem;
}
.customer{
    background-color: #fff;
    padding: 3% 3%;
    margin-bottom: .2rem;
}
.customer p{
    font-size: .28rem;
    color: #666;
}
.customerInfo{
    margin: .15rem;
}
.customerInfo li{
    overflow: hidden;
    width: 100%;
    margin-bottom: .2rem;
}
.customerInfo li label{
    width: 25%;
    font-size: .28rem;
    color: #666;
    height: .6rem;
    line-height: .6rem;
    float: left;
}
.customerInfo li input{
    width: 60%;
    height: .6rem;
    line-height: .6rem;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    border: 1px solid #ccc;
}
.customerInfo li textarea{
    width: 70%;
    height: 1rem;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    border: 1px solid #ccc;
    resize: none;
}




